.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h3.text-center= @representative.name
        %img{ src: @representative.photo_url}
        .card-body
            .card-text
                %dl.row
                    %dt.col-sm-3.text-md-right OCD ID:
                    %dt.col-sm-9
                        %a{ href: @representative.ocdid }
                            = @representative.ocdid
                %dl.row
                    %dt.col-sm-3.text-md-right Office:
                    %dt.col-sm-9
                        = @representative.title
                %dl.row
                    %dt.col-sm-3.text-md-right Party:
                    %dt.col-sm-9
                        = @representative.party
                %dl.row
                    %dt.col-sm-3.text-md-right Contact Address:
                    %dt.col-sm-9
                        = "#{@representative.street} \n #{@representative.city}, #{@representative.state}, #{@representative.zip}"
