= form_tag form_url, html: { method: form_method } do |f|
    %ul(style="list-style-type: none;")
        - @top_articles.each do |article|
            %li(style="margin-bottom: 30px;")
                = label_tag "article_#{article.instance_variable_get(:@id)}", class: 'article-radio' do
                    = radio_button_tag 'selected_article[article_id]', article.instance_variable_get(:@id), id: "article_#{article.instance_variable_get(:@id)}"
                    = hidden_field_tag "selected_article[title]", article.instance_variable_get(:@title)
                    = hidden_field_tag "selected_article[url]", article.instance_variable_get(:@url)
                    = hidden_field_tag "selected_article[description]", article.instance_variable_get(:@description)
                %strong= " Title: #{article.instance_variable_get(:@title)}"
                %a{ href: article.instance_variable_get(:@url), style: "display: block;" } Link
                %p= "Description: #{article.instance_variable_get(:@description)}"
    .form-group.row
        .col-sm-2
            = label :ratings, :rating, class: 'col-form-label'
        .col-sm-10
            = select :ratings, :rating, @rating_list, { include_blank: true },
            class: 'form-control', required: true

    = submit_tag 'Save'
